/*
 * Overall Application Styling
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #d1d5db;
  background-color: #111827;
}

h1 {
  font-size: 30px;
  color: white;
}

p {
  line-height: 1.5;
  color: white;
}

a {
  color: white;
  margin-bottom: 12px;
}

a:hover {
  color: #60a5fa;
}

/*
 * Main Page Content Containers
 */

.container {
  padding: 20px;
  margin: 20px;
}

/*
 * Tilemap Canvas Containers / Elements
 */

.tilemap-container {
  display: block;
  width: 640px;
  height: 640px;
  padding-top: 20px;
}

#tilemap-canvas {
  z-index: 1;
  display: block;
  object-fit: contain;
  position: absolute;
  background-color: #000;
  width: 640px;
  height: 640px;
}

#entities-canvas {
  z-index: 2;
  display: block;
  object-fit: contain;
  position: absolute;
  width: 640px;
  height: 640px;
}
