/*
 * Overall Application Styling
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  /* Hamburger menu button */
  --menu-button-size-sm: 30px;
  --menu-button-size-lg: 45px;
  --hamburger-line-size-sm: 15px;
  --hamburger-line-size-lg: 22px;
}

body {
  font-family: sans-serif;
  color: #d1d5db;
  background-color: #111827;
}

noscript {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  color: white;
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  margin: 10px;
}

p {
  color: white;
  margin: 10px;
}

a {
  color: white;
  margin: 10px;
}

a:hover {
  color: #60a5fa;
}

/*
 * Middle-Element Fill 100% Remaining Screen Height / Flex Box Layout
 * Source: https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
 */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  padding: 4px;
  flex: 0 1 auto; /* Shorthand for: flex-grow: 0, flex-shrink: 1, flex-basis: auto */
}

.box .row.header .container-top {
  display: none;
  margin: 10px;
}
.box .row.header .container-critical {
  margin: 10px;
  float: right;
}

.box .row.content {
  flex: 1 1 auto;
  position: relative;
}

.box .row.footer {
  display: none;
  padding: 10px;
  flex: 0 1 40px;
}

/*
 * Canvas elements - canvas container, individual canvas items, and canvas debug overlay elements
 */

#canvas-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

#tilemap-canvas {
  z-index: 1;
}

#entity-canvas {
  z-index: 2;
}

#drawable-canvas {
  z-index: 3;
  border: 1px solid white;
}

/*
 * Controls system
 */

.debug p {
  margin: 0;
  font-size: 12px;
  padding: 8px;
}

.debug #fps {
  z-index: 4;
  position: absolute;
  width: 70px;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: black;
}

/*
 * Menu button / system
 */

#menu-button {
  z-index: 3;
  border: 2px solid white;
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  background-color: black;
  height: var(--menu-button-size-sm);
  width: var(--menu-button-size-sm);
  padding: 10px;
  display: block;
  outline: none;
  cursor: pointer;
}

/*
 * Hamburger menu animation
 */


.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  height: 3px;
  width: var(--hamburger-line-size-sm);
  background-color: white;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  left: -1%;
  top: -2%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon-1.a {
  transform: rotate(40deg);
}

.icon-3.b {
  transform: rotate(-40deg);
}

.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

/*
 * Media Queries
 */

/* Min height & width are both above 525, show full menu overlays - header/footer */
@media screen and (min-width: 525px) and (min-height: 525px) {
  /* Overall screen flex layout */
  .box .row.header, .box .row.header .container-top, .box .row.footer {
    display: block;
  }
  .box .row.header .container-critical {
    float: left;
  }
  .box .row.header .container-toggle {
    display: none;
  }

  /* Hamburger menu button */
  #menu-button {
    height: var(--menu-button-size-lg);
    width: var(--menu-button-size-lg);
  }
  .icon-1, .icon-2, .icon-3 {
    width: var(--hamburger-line-size-lg);
  }
}

/* >= 400 - Tiny -> Small Transition */
@media screen and (min-width: 400px) {
  /* Hamburger menu button */
  #menu-button {
    border: 2px solid black;
  }
  #menu-button:hover {
    border: 2px solid white;
  }
}
