/*
 * Overall Application Styling
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
  /* Hamburger menu button */
  --menu-button-size-sm: 30px;
  --menu-button-size-lg: 45px;
  --hamburger-line-size-sm: 15px;
  --hamburger-line-size-lg: 22px;
  /* Scrolling menu list */
  --menu-list-size-sm: 220px;
  --menu-list-size-lg: 260px;
}

body {
  font-family: sans-serif;
  color: #111827;;
  background-color: #111827;
}

noscript {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  color: white;
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  margin: 10px;
}

p {
  color: white;
  margin: 10px;
}

a {
  color: white;
  margin: 10px;
}

a:hover {
  color: #60a5fa;
}

/*
 * Middle-Element Fill 100% Remaining Screen Height / Flex Box Layout
 * Source: https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
 */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  padding: 4px;
  flex: 0 1 auto; /* Shorthand for: flex-grow: 0, flex-shrink: 1, flex-basis: auto */
  display: none;
  margin: 10px;
}

.box .row.content {
  flex: 1 1 auto;
  position: relative;
}

.box .row.footer {
  display: none;
  padding: 10px;
  flex: 0 1 40px;
}

.mini-content-overlay {
  z-index: 1000;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: #111827;
  padding: 10px;
}

/*
 * Canvas elements - canvas container, individual canvas items, and canvas debug overlay elements
 */

#canvas-container {
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #111827;
  background-color: #1f2937;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

#tilemap-canvas {
  z-index: 2;
}

#entity-canvas {
  z-index: 3;
}

#drawable-canvas {
  z-index: 4;
}

/*
 * Controls system
 */

#fps-debug {
  display: none;
}

.debug p {
  margin: 0;
  font-size: 12px;
  padding: 8px;
}

.debug #fps {
  z-index: 4;
  position: absolute;
  width: 70px;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: black;
}

/*
 * Hamburger button system
 */

 #menu-button {
   z-index: 15;
   border: 2px solid black;
   position: absolute;
   margin: 10px;
   top: 0;
   right: 0;
   background-color: black;
   height: var(--menu-button-size-sm);
   width: var(--menu-button-size-sm);
   padding: 10px;
   display: block;
   outline: none;
   cursor: pointer;
 }

.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  height: 2px;
  width: var(--hamburger-line-size-sm);
  background-color: white;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-6px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(6px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  left: -5%;
  top: -2%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.icon-1.a {
  height: 3px;
  transform: rotate(40deg);
}

.icon-3.b {
  height: 3px;
  transform: rotate(-40deg);
}

.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

/*
 * Hamburger scrolling menu list elements
 */

/* Main scrolling list container */
.hamburger-menu-container {
  z-index: 10;
  position: absolute;
  background-color: #111827;
  top: calc(var(--menu-button-size-sm) + 20px);
  right: 0;
  bottom: 0;
  padding: 10px;
  padding-top: 0px;
  overflow-y: scroll;
  width: var(--menu-list-size-sm);
}

/* List background extender above list and behind hamburger button */
.menu-button-background {
  z-index: 10;
  position: absolute;
  background-color: #111827;
  height: calc(var(--menu-button-size-sm) + 20px);
  right: 0;
  top: 0;
  width: var(--menu-list-size-sm);
}

.hamburger-menu-item {
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 4px;
  width: 100%;
  height: 30px;
  background-color: black;
}

.hide-menu-no-animation {
  visibility: hidden;
  opacity: 0;
}

.hide-menu {
  animation: hideMenu 0.3s linear forwards;
}

.show-menu {
  animation: showMenu 0.3s linear forwards;
}

@keyframes hideMenu {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes showMenu {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.hide-item {
  animation: hideMenuItems 0.2s linear forwards;
}

.show-item {
  animation: showMenuItems 0.2s linear forwards;
}

@keyframes hideMenuItems {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes showMenuItems {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

/*
 * Hamburger scrolling menu list individual button elements
 */

#sublist-button {
  font-family: sans-serif;
  font-size: 14px;
  background-color: black;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.left-item {
  float: left;
}

.right-item {
  float: right;
  width: 40px;
  font-weight: 700;
  justify-content: center;
}

.right-item.icon {
  font-size: 24px;
  font-weight: 400;
}

.right-item.icon p {
  color: #2563eb;
}

.right-item.text-icon p {
  color: #2563eb;
}

.left-item, .right-item {
  height: 100%;
  display: flex;
  align-items: center;
}

/*
 * Media Queries
 */

/* Min height & width are both above 525, show full menu overlays - header/footer */
@media screen and (min-width: 525px) and (min-height: 525px) {
  /* Overall screen flex layout */
  .box .row.header, .box .row.header .container-top, .box .row.footer {
    display: block;
  }
  .mini-content-overlay {
    display: none;
  }

  /* Hamburger menu button */
  #menu-button {
    height: var(--menu-button-size-lg);
    width: var(--menu-button-size-lg);
  }
  .menu-button-background {
    height: calc(var(--menu-button-size-lg) + 16px);
  }
  .icon-1, .icon-2, .icon-3 {
    width: var(--hamburger-line-size-lg);
  }
  .icon-1 {
    transform: translateY(-8px);
  }
  .icon-3 {
    transform: translateY(8px);
  }

  /* Hamburger menu elements */
  .hamburger-menu-container {
    top: calc(var(--menu-button-size-lg) + 16px);
  }
}

/* >= 400 - Tiny -> Small Transition */
@media screen and (min-width: 400px) and (min-height: 400px) {
  /* Hamburger menu button */
  #menu-button:hover {
    border: 2px solid white;
  }
  .hamburger-icon {
    left: -2%;
  }

  /* Hamburger menu elements */
  .hamburger-menu-item:hover {
    border: 2px solid white;
  }

  /* Main scrolling list container */
  .hamburger-menu-container {
    width: var(--menu-list-size-lg);
  }

  /* List background extender above list and behind hamburger button */
  .menu-button-background {
    width: var(--menu-list-size-lg);
  }

  /* Only show custom scroll bar on non smartphone screens */
  .hamburger-menu-container {
    direction: rtl;
  }

  .hamburger-menu-item {
    direction: rtl;
  }
  .hamburger-menu-container::-webkit-scrollbar {
    display: block;
    background: transparent;
    width: 6px;
  }
  .hamburger-menu-container::-webkit-scrollbar-thumb {
    background-color: #2563eb;
  }
}
