/*
 * Overall Application Styling
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #d1d5db;
  background-color: #111827;
}

noscript {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  color: white;
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  margin: 10px;
}

p {
  color: white;
  margin: 10px;
}

a {
  color: white;
  margin: 10px;
}

a:hover {
  color: #60a5fa;
}

/*
 * Middle-Element Fill 100% Remaining Screen Height / Flex Box Layout
 * Source: https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
 */

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  padding: 4px;
  flex: 0 1 auto; /* Shorthand for: flex-grow: 0, flex-shrink: 1, flex-basis: auto */
}

.box .row.header .container-top {
  display: none;
  margin: 10px;
}
.box .row.header .container-critical {
  margin: 10px;
  float: right;
}

.box .row.content {
  flex: 1 1 auto;
  position: relative;
}

.box .row.footer {
  display: none;
  padding: 10px;
  flex: 0 1 40px;
}

/*
 * Canvas elements - canvas container, individual canvas items, and canvas debug overlay elements
 */

#canvas-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

#tilemap-canvas {
  z-index: 1;
}

#entity-canvas {
  z-index: 2;
}

#drawable-canvas {
  z-index: 3;
  border: 1px solid white;
}

/*
 * Controls system
 */

.debug p {
  margin: 0;
  font-size: 12px;
  padding: 8px;
}

.debug #fps {
  z-index: 4;
  position: absolute;
  width: 70px;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: black;
}

/*
 * Menu button / system
 */

#menu-button {
  z-index: 3;
  border: 2px solid white;
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  background-color: black;
  height: 30px;
  width: 30px;
  padding: 10px;
  display: block;
  outline: none;
  cursor: pointer;
}

/*
 * Media Queries
 */

/* Min height & width are both above 525, show full menu overlays - header/footer */
@media screen and (min-width: 525px) and (min-height: 525px) {
  .box .row.header, .box .row.header .container-top, .box .row.footer {
    display: block;
  }
  .box .row.header .container-critical {
    float: left;
  }
  .box .row.header .container-toggle {
    display: none;
  }

  #menu-button {
    height: 40px;
    width: 40px;
  }
}

/* >= 400 - Tiny -> Small Transition */
@media screen and (min-width: 400px) {
  #menu-button {
    border: 2px solid black;
  }
  #menu-button:hover {
    border: 2px solid white;
  }
}
